# Nuxt
.nuxt/
.output/
.data/
dist/

# Node
node_modules/
.pnpm-debug.log*

# Capacitor
ios/

# Env
.env
.env.*
!.env.example

# OS
.DS_Store
Thumbs.db

# Logs
logs/
*.log

# TypeScript
*.tsbuildinfo

# Generated at build time
public/licenses.json
