.slide-up-enter-active[data-v-df9d1ac4],.slide-up-leave-active[data-v-df9d1ac4]{transition:transform .22s ease}.slide-up-enter-from[data-v-df9d1ac4],.slide-up-leave-to[data-v-df9d1ac4]{transform:translateY(100%)}
