.slide-up-enter-active[data-v-2cdc9c41],.slide-up-leave-active[data-v-2cdc9c41]{transition:transform .22s ease}.slide-up-enter-from[data-v-2cdc9c41],.slide-up-leave-to[data-v-2cdc9c41]{transform:translateY(100%)}
